@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: underline;
}

@layer utilities {
  .shadow-border {
    box-shadow: rgba(255, 255, 255, 0.05) 0px 1px 1px 0px, rgba(235, 235, 234, 0.16) 0px 0px 0px 1px;
  }

  .backdrop {
    @apply relative;
  }

  .backdrop::after {
    @apply absolute left-0 top-0 w-full h-full bg-emerald-400/80 transition-all duration-100 -z-10 rounded hover:left-1 hover:top-1 content-[''];
  }

  .button:not(.outline) {
    @apply px-4 h-9 flex items-center rounded bg-zinc-100 text-zinc-900 font-bold whitespace-nowrap shadow-border relative;
  }

  .button:not(.outline)::after {
    @apply absolute left-0 top-0 w-full h-full bg-emerald-400/80 transition-all duration-100 -z-10 rounded hover:left-[3px] hover:top-[3px];
    content: ''
  }

  .button.outline {
    @apply bg-zinc-950 text-zinc-100 border border-zinc-100 outline-transparent ring-0 px-4 h-9 flex items-center rounded whitespace-nowrap backdrop;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}